<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulingxueyuan.mall.modules.excel.mapper.BranchSaleShopResultDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tulingxueyuan.mall.modules.excel.model.BranchSaleShopResultData">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="deal_pin_total" property="dealPinTotal" />
        <result column="tongbi_total" property="tongbiTotal" />
        <result column="deal_pin_new" property="dealPinNew" />
        <result column="tongbi_new" property="tongbiNew" />
        <result column="deal_pin_old" property="dealPinOld" />
        <result column="tongbi_old" property="tongbiOld" />
    </resultMap>

</mapper>
